<div class="container">
	<div class="col-lg-4">
		<h3>Editing user</h3>

		<%= render 'form' %>

		<%= link_to 'Show', @user, :class => "btn btn-myGreen" %> 
		<%= link_to 'Back', users_path, :class => "btn btn-myGrey" %>
	</div>
</div>

