<!DOCTYPE html>
<html>
<head>
  
<%= javascript_include_tag "location", "data-turbolinks-track" => true %>

</head>

<div id = "locationData">

</div>

 <script type="text/javascript">
   window.onload = getUserLocation(); 

 </script>


<body>

<div id="New_User_Form" class="col-lg-4">

<h4><strong>New user</strong></h4>


<%= render 'form' %>


<%= link_to 'Back', users_path, :class => "btn btn-success" %>

</div>



</body>
</html>