Welcome 

<div class="btn-group">
<%= link_to 'New Event', new_event_path, :class => "btn btn-success" %>

<%= link_to 'Show Events', {:action => 'index' }, :class => "btn btn-default" %>

<%= link_to 'New User', new_user_path, :class => "btn btn-success" %>
</div>